@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Tangerine:wght@700&display=swap");
.login_main {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  background-image: url("../../images/login_back.jpg");
  box-shadow: -1px 166px 252px 63px rgba(0, 0, 0, 0.92) inset;
  -webkit-box-shadow: -1px 166px 252px 63px rgba(0, 0, 0, 0.92) inset;
  -moz-box-shadow: -1px 166px 252px 63px rgba(0, 0, 0, 0.92) inset;
}

.container-main {
  margin-top: 100px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
