@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Tangerine:wght@700&display=swap");
.main_register {
  width: 100%;
  background-image: url("../../images/register_back.jpg");
  background-size: cover;
  box-shadow: -1px 166px 252px 63px rgba(0, 0, 0, 0.98) inset;
  -webkit-box-shadow: -1px 166px 252px 63px rgba(0, 0, 0, 0.98) inset;
  -moz-box-shadow: -1px 166px 252px 63px rgba(0, 0, 0, 0.98) inset;
}

.title {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  margin-top: 50px;
}

.description {
  font-family: "Poppins", sans-serif;
  color: white;
  margin-bottom: 70px;
  margin-top: 50px;
}

.card-input-box {
  height: 100%;
  width: 80%;
  background-color: #00000059;
  border-radius: 10%;
  color: white;
}

.logo {
  font-family: "Tangerine", cursive;
  font-size: 2.5rem;
  text-align: center;
  font-weight: bolder;
  padding-bottom: 20px;
}

.form {
  width: 80%;
  margin-left: 10%;
}

.submit-button {
  width: 50%;
  margin-top: 50px;
}

.label {
  font-weight: bold;
}

.container-main-register {
  margin-top: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
