.sidebar {
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  width: 15vw !important;
  z-index: 100;
  padding: 48px 0 0;
  background-color: #1e1e1e;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}
#sidebar-wrapper {
  width: 20vw !important;
  margin-left: -1rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
