p {
  font-weight: 500;
  color: rgb(177, 177, 177);
}

.box {
  box-shadow: -1px 166px 249px 63px rgba(0, 0, 0, 0.6) inset;
  -webkit-box-shadow: -1px 166px 249px 63px rgba(0, 0, 0, 0.6) inset;
  -moz-box-shadow: -1px 166px 249px 63px rgba(0, 0, 0, 0.6) inset;
  padding: 30px;
  padding-bottom: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}

input {
  color: black;
  background-color: white;
  border: solid 1px black;
  padding: 10px;
  margin: 2px;
}

.col-button {
  display: flex;
  align-items: center;
  margin-top: 2.25rem;
}

.search-button {
  font-family: "Poppins", sans-serif;
  width: 60%;
}
