.vehicle-image {
  object-fit: cover;
  width: 100%;
}

.view-vehicle-image-options {
  width: 100%;
  margin-top: 40px;
  align-content: center;
}

.view-vehicle-card {
  font-family: "Poppins", sans-serif !important;
}
