@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Tangerine:wght@700&display=swap");

.logo {
	font-family: "Tangerine", cursive;
	font-size: 2.5rem;
}

a {
	font-size: 1.1rem;
	color: white;
}

.button {
	margin: 5px !important;
	height: 5% !important;
	text-align: center !important;
}
