.view-user-name {
  font-family: "Noto Sans KR", sans-serif;
  margin-top: 15px;
  margin-bottom: 3px;
}

.view-user-email {
  margin-bottom: 0px;
}

.view-user-img {
  height: 100px;
  width: 100px;
}

.view-user-card {
  font-family: "Poppins", sans-serif !important;
  height: 100%;
}

.view-user-image-options {
  width: 100%;
  margin-top: 40px;
}

.view-user-modal-body {
  text-align: center;
}

.view-user-pill-badge {
  margin-right: 5px;
}
